body {
    font-family: Roboto sans-serif;
    color: #f9faf8;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.topcontainer {
    background: #1f2937;
}

.header {
    width: 1020px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.logo {
    /* color: #f9faf8; */
    font-size: 24px;
    font-weight: 900;
}

.headerlink {
    font-size: 18px;
    display: flex;
    gap: 20px;
}

.headerlink a {
    color: #b5b7bb;
}

.hero {
    width: 1020px;
    height: 480px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    margin: auto;
}

.hero img {
    width: 500px;
    /* height: 220px; */
    background: #777;
    flex-shrink: 0;
}

.heromain {
    /* color: #f9faf8; */
    font-size: 48px;
    font-weight: 900;
    line-height: 48px;
    margin-bottom: 5px;
}

.herosecondary {
    font-size: 18px;
    color: #b5b7bb;
    margin-bottom: 10px;
}

.hero button {
    background: #3882f6;
    color: #fff;
    font-weight: 900;
    margin: 0;
    border: 0;
    padding: 5px 25px;
    border-radius: 5px;
    cursor: pointer;
}

.info {
    width: 1020px;
    height: 450px;
    margin: auto;
}

.infotitle {
    text-align: center;
    margin: 50px 0;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.infocontent {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.infoblock {
    flex: 0 0 auto;
    width: 160px;
    text-align: center;
    color: #75777b;
    font-size: 16px;
}

.infoblock img {
    width: 160px;
    height: 160px;
    border: 3px solid #3882f6;
    border-radius: 10px;
    display: block;
    box-sizing: border-box;
    margin-bottom: 8px;
}

.quotecontainer {
    background: #E5E7EB;
    height: 400px;
}

.quote {
    width: 800px;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
}

.quote span {
    align-self: flex-end;
    font-size: 24px;
    font-weight: 900;
    color: #1f2937;
    font-style: normal;
    font-family: Roboto sans-serif;    
}

